<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.majon.my_protein_care.user.dao.UserDAO">
 	
 	<insert id="insertUser" parameterType="map">
 	
 		INSERT INTO `user`
 		(
 			`loginId`
 			,`password`
 			,`name`
 			,`email`
 			,`nickname`
 			,`height`
 			,`weight`
 			,`activityLevel`
 			,`gender`
 			,`createdAt`
 			,`updatedAt`
 		)VALUES(
 			#{loginId}
 			,#{password}
 			,#{name}
 			,#{email}
 			,#{nickname}
 			,#{height}
 			,#{weight}
 			,#{activityLevel}
 			,#{gender}
 			,now()
 			,now()
 		)
 		
 	</insert>
 	
 	<select id="countDuplicateLoginId" parameterType="String" resultType="int">
 	
 		SELECT 
 			count(*)
 		FROM
 			`user`
 		WHERE 
 			`loginId` = #{loginId}
 	</select>
 	
 </mapper>