@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Nanum+Gothic+Coding&display=swap');

.primary-color{
	color:#D2E5D0; /*pastel mint*/
}
.secondary-color{
	color:#65463E; /*Carafe(dark brown)*/
}
.font-primary-color{
	color:#AAD6A0; /*mint*/
}
.font-secondary-color{ 
	color:#DCBAA9; /*cognac(pastel brown)*/
}
.form-primary-color{
	color:#267055; /*green*/
}
::placeholder {
  font-size: 12px;
}
header{
	font-family: 'Gamja Flower', cursive;
}

#wrap{
	padding-top:50px;
	font-family: 'Nanum Gothic Coding', monospace;
	height:1300px;
	margin:auto;
	
}
/* 메인화면*/

#wrapMain{
	position:fixed;
	width:100%;
	height:100%;
	perspective:1300px;
}
#section{
	position:absolute;
	width:600px;
	height:700px;
	top:50%;
	left:50%;
	margin: -320px 0px 0px -300px;
}
#mainFooter{
	position:absolute;
	bottom:5%;
	left:42%;
}
#wrapMain #section article{
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
}
#wrapMain #section article h1{
	position:absolute;
	top:0;
	left:30%;
	color:#267055;
	opacity:0;
	transition:1s;
	font-family: 'Gamja Flower', cursive;
	font-size:30px;
}
#wrapMain #section article:hover h1{
	top:-50px;
	opacity:1;
}
#wrapMain #section article .content{
	width:100%;
	height:100%;
	background:white;
	border: 1px solid #65463E;
	opacity:0.8;
	transition:1s;
	overflow:hidden;
	cursor:pointer;
}
#wrapMain #section article .content:hover{
	background:#D2E5D0;
	opacity:1;
	transform:scale(1.02);
}
/*article 겹치는 요소 */

.article-title{
	color:#267055;
}
.article-label{
	color:#DCBAA9;
	font-weight:bold;
}
.article1{
	display:block;
	transform:rotateY(0deg) tramslateZ(-764px);
}
.article2{
	display:block;
	transform:rotateY(45deg) tramslateZ(-764px);
}
.article3{
	display:block;
	transform:rotateY(90deg) tramslateZ(-764px);
}
.article4{
	transform:rotateY(135deg) tramslateZ(-764px);
}
.article5{
	transform:rotateY(180deg) tramslateZ(-764px);
}
.article6{
	transform:rotateY(225deg) tramslateZ(-764px);
}
.article7{
	transform:rotateY(270deg) tramslateZ(-764px);
}
.article8{
	transform:rotateY(315deg) tramslateZ(-764px);
}
/* 회원가입 */

.signup-form-box{
	width:600px;
	border: 1px solid #267055;
	margin:auto;
}
hr{
	border-width:1px;
	background-color:#65463E;
}
.hidden-msg-container{
	position:relative;
	left:190px;
}
#isDuplicateBtn{
	position:relative;
	left:405px;
}
.input-group-activity-level{
	position:relative;
	left:94px;
	
}
.input-group-gender{
	position:relative;
	left:94px;
}
#registerBtn{
	position:relative;
	left:238px;
}
.signin-link-box{
	border: 1px solid #267055;
	width:600px;
	margin:auto;
}

/* 로그인 */

.signin-form-box{
	width:600px;
	border: 1px solid #267055;
	margin:auto;
}
.signup-link-box{
	border: 1px solid #267055;
	width:600px;
	margin:auto;
}

/* 단백질 계산기 */
.calculator-element{
	width:800px;
}

#addMoreBtn{
	background-color:#D2E5D0;
	color:#65463E;
}
.calculator-h4{
	color:#267055;
}